.content {
	display: block;
	flex: 1;

	h1 {
		font-size: $grid;
		line-height: $grid;
	}

	// TODO: Replace margin/padding hack with something decent
	.site.-fixed & {
		display: flex;
		flex-direction: column;
		margin-top: (-$grid * 2);
		max-height: 100%;
		padding-top: ($grid * 2);
	}
}
