.main {
	display: flex;
	max-width: none;
	padding: 0 $grid;

	@include respond-to(small) {
		padding: ($grid / 2);
	}

	@include respond-to(medium) {
		display: block;
	}

	&:-webkit-full-screen,
	&:-moz-full-screen {
		width: 90%;
	}

	.site.-fixed & {
		flex: 1;
		overflow: hidden;
		padding: 0;
		position: relative;
		width: 100%;
	}
}

.main_content {
	flex: 3;
	margin-bottom: $grid;
}

.main_aside {
	flex: 1;
	margin: 0 0 $grid $grid;
}
