.result {
	display: flex;

	&:before {
		content: none !important;
	}

	& + & {
		border-top: $border;
		margin-top: $grid / 2 - $border-width;
		padding-top: $grid / 2;
	}
}

.result_author {
	color: $text-color-light;
	font-weight: bold;
}

.result_content {
	margin-left: $grid;
}

.result_highlight {
	background: $highlight-bg-light;
}

.result_image {
	height: $grid * 4;
	min-width: $grid * 3;
	width: $grid * 3;

	img {
		box-shadow: $border-shadow;
		max-height: 100%;
		max-width: 100%;
	}
}

.result_title {
	font-weight: bold;
}

.result_type {
	color: $text-color-light;
	font-size: $font-size-small;
	letter-spacing: .05em;
	line-height: round($line-height * .7);
	margin-top: round($line-height * .3);
	text-transform: uppercase;
}
