<section class="viewer_metadata">
	<dl>
		<dt>Titel</dt>
		<dd>Vorlesungsmitschrift 1798 (Rom)<br>Des Herrn Hofrath Heynen. Vorlesungen über die Archäologie. im Sommer 1798.</dd>
		<dt>Autor</dt>
		<dd>unbekannt</dd>
		<dt>Bearbeitung</dt>
		<dd>SUB Göttingen und Archäologisches Institut Göttingen</dd>
		<dt>Bearbeitungshinweise</dt>
		<dd>
			Die Mitschrift von unbekannter Hand entstand laut Titelblatt im Sommer 1798. Es handelt sich um eine recht gleichmäßig geschriebene Abschrift, vermutlich eine vom Autor selbst angefertigte Reinschrift, worauf häufige Verbesserungen im Text und das sorgfältig angelegte Inhaltsverzeichnis nebst Literaturliste am Ende des Textes hinweisen könnten. Typische Kopistenfehler sind nicht erkennbar. Wenige Stellen im fortlaufenden Text könnten auf eine zweite Hand hindeuten (S. 175-176).<br>
			Die Handschrift gehört zwar zu den kürzeren Mitschriften von Heynes Vorlesung, doch ist sie inhaltlich ergiebig, da der Gedankengang meist konzis und verständlich wiedergegeben ist.<br>
			In späterer Zeit wurde das Manuskript von fremder Hand (wahrscheinlich sogar von verschiedenen Personen) mit zahlreichen Zusätzen und Literaturnachträgen versehen. Diese Zusätze sind größtenteils auf Englisch abgefasst, was darauf hindeuten könnte, dass sich das Manuskript später in britischem Besitz befand. Der jüngste Literaturnachtrag ist: „Tour to the Sepulchres of etruria in 1839. By Mrs. Hamilton Gray. With numerous illustrations. London 1840. Lond. & P.Obs. January 3. 1841.“<br>
			Die Handschrift wurde der Bibliothek des Deutschen Archäologischen Instituts laut eingeklebtem Zettel von „Giorgio Sangiorgi, Comm[endatore], Roma [...] „in omaggio e in memoria del professor Ludwig Curtius“ geschenkt. Nach der Inventarnummer geschah dies 1959. Mehr ist über die Provenienz nicht bekannt.<br>
		</dd>
		<dt>Land<dt>
		<dd>Italien</dd>
		<dt>Ort</dt>
		<dd>Rom</dd>
		<dt>Repositorium</dt>
		<dd>Bibliothek des Deutschen Archäologischen Instituts, Rom</dd>
		<dt>Identifier</dt>
		<dd>1959, 974</dd>
		<dt>Umfang</dt>
		<dd> Seiten</dd>
		<dt>Datum</dt>
		<dd>1798</dd>
		<dt>Editionsdetails</dt>
		<dd>
			Grundsätzlich wurde diplomatisch transkribiert; z.T. stillschweigende Auflösung der Endverschleifungen; stillschweigende Auflösung von häufig auftretenden Abkürzungen wie af = auf oder dagg = dagegen; heute noch gängige Abkürzungen wurden größtenteils nicht aufgelöst<br>
			Randnotizen stehen in der Regel am Ende der jeweiligen Seite; antike Literatur wurde nicht verlinkt
		</dd>
	</dl>
</section>
